

.add-post {
    display: flex;
    flex-direction: column;
}

.add-title, .add-text {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 23px 30px;
    margin-bottom: 16px;
}
.add-text {
    min-height: 362px;
}
.button {
    border:none;
    cursor: pointer;
}
.add-button {
    width: 100%;
    max-width: 370px;
    margin-right: 2%;
}

.button-outline {
    cursor: pointer;
    background: #fff;
    border: 1px solid #ffc53d;
    border-radius: 4px;
    color: #fff53d;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 1%;
}
.button-outline .icon {
    fill: #ffc53d;
    width: 14px;
    height: 11px;
}
@media (max-width: 676px) {
    .add-buttons {
        display: flex;
        flex-direction: column;
    }
    .add-button {
        width: 100%;
        max-width: 100%;
    }
    .add-post .button-outline {
        margin-right: 0;
        margin-top: 10px;
    }
}